.topbar {
  background-color: #1A1B1C;
  height: 130px;
  color: #fff;
}

.label {
  font-size: 36px;
  padding-left: 40px;
}

.price {
  font-size: 50px;
  padding-right: 40px;
  & > span {
    font-size: 30px;
    padding-right: 6px;
  }
}

.pending {
  font-size: 44px;
  padding-right: 40px;
}
