.icon-agreen:before {
  content: "\e600";
}

.icon-shanchujian:before {
  content: "\e6a2";
}

.icon-mima:before {
  content: "\e616";
}

.icon-close:before {
  content: "\e602";
}

.icon-linedesign-20-copy:before {
  content: "\e674";
}

.icon-dibanfanxin:before {
  content: "\e60c";
}

.icon-qiangmianfanxin1:before {
  content: "\e60d";
}

.icon-fangshuishengji1:before {
  content: "\e60e";
}

.icon-qitaxiangmu1:before {
  content: "\e60f";
}

.icon-queren:before {
  content: "\e610";
}

.icon-xiangxiajiantou:before {
  content: "\e611";
}

.icon-xiayibu_jiantou:before {
  content: "\e612";
}

.icon-shoujihaoshouji:before {
  content: "\e681";
}

.icon-tixian:before {
  content: "\e614";
}
